#alert{
    background-color: $main-black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    

    a{
        color: white;
        align-self: center;
    }
    .icon-wrapper{
        ion-icons{
            color: $main-black;
        }
    }
}

// font-sizing with responsive work