main .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4em 0;
    text-align: center;



    .card {
        width: 40rem;
        height: 550px;
        border: solid white;

        img {
            width: 100%;
        }
    }

    .card:hover {
        border: solid #f57c00;
    }
}