nav {
    color: black;

    background-color: white;

    ul li a {
        color: black;
    }

    ul li a:hover {
        color: rgb(255, 255, 255);
        background-color: $main-blue;
    }

    .btn {
        background-color: $main-blue;
    }

    .btn:hover {
        background-color: black;
    }
}

nav .nav-wrapper {
    padding: 0 2em;

    .sidenav-trigger {
        position: absolute;
        left: 0;
        color: black;
    }
}

.sidenav {
    .btn {
        background-color: $main-blue;
    }
}





#navigation button {
    background-color: $main-blue;
}

.brand-logo img {
    height: 2em;
}