nav {
    color: black;

    .nav-wrapper {
        padding: 0 5em;
    }

    background-color: white;

    ul li a {
        color: black;
    }

    ul li a:hover {
        color: rgb(255, 255, 255);
        background-color: $main-blue;
    }

    .btn {
        background-color: $main-blue;
    }

    .btn:hover {
        background-color: black;
    }
}

nav .nav-wrapper {
    padding: 0 5em;
}






#navigation button {
    background-color: $main-blue;
}

.brand-logo img {
    height: 2em;
}