nav.nav-wrapper{
    margin: 0 3em;

    #brandLogo{

    }
    #menuIcon{

    }
    #navLinks{
        height: 100%;
        display: flex;
        .nav-bar{
            height: 100%;
        }
        .social-bar{
            height: 100%;
        }
    }
}