@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
footer #mailChimpTitle {
  text-align: center;
}

.page-footer {
  background-color: #4A7A8C;
}

#banner {
  margin: 5em 0;
  text-align: center;
}

#banner h1 {
  font-size: 32px;
  color: #24252A;
}

/* Mobile first queries */
#alert {
  background-color: black;
  height: 4vh;
  color: white;
  font-size: 12px;
  text-align: center;
}

/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
#mc_embed_signup {
  background: rgba(255, 255, 255, 0);
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}

/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  top: 50%;
  border: 4px solid #Fff;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

hr {
  margin: 1em 0;
  background-color: #284659;
}

.hide {
  display: none;
}

nav {
  background-color: white;
  color: black;
}

nav .nav-wrapper {
  padding: 0 5em;
}

#navigation li a {
  color: black;
}

#navigation li a:hover {
  color: white;
  background-color: #4A7A8C;
}

#navigation button {
  background-color: #4A7A8C;
}

.brand-logo img {
  height: 2em;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4em 0;
  text-align: center;
}

main .col {
  height: 500px;
}

main .card {
  width: 30rem;
  border: solid white;
}

main .card:hover {
  border: solid #FEBB2E;
}

header {
  background-image: url("/lib/images/devops-bg.png");
  background-color: white;
}

header img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */