// THEME
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

// Brand Colors
$main-navy :#284659;
$main-blue :#4A7A8C;
$main-orange :#f17500;
$main-white :#F6EFE5;
$main-black : #292013;

// base black
$base-black: #24252A;

$main-font :'Manrope',
sans-serif;
$sub-font : 'Playfair Display',
serif;

@import 'layout/nav';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';
@import 'layout/sidebar';


@import 'components/buttons';
@import 'components/banner';
@import 'components/carousel';
@import 'components/slider';
@import 'components/alert';
@import 'components/forms';
@import 'components/loader';



// ============================
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

hr {
  margin: 1em 0;
  background-color: $main-navy;
}

.hide {
  display: none;
}